---
import Layout from "./layout.astro";

const response = await fetch("http://localhost:4321/kolpri/api/SHOWOFF.json")
const data = await response.json()
data.sort(() => Math.random() - 0.5);
---

<Layout  active="kategori1" titlePage="Showoff" titleColor="primary">
    <div class="container mt-4">
        <div
          class="row"
          id="SHOWOFF"
        >
          {
            data.map((item)=>(
              <div class="col-md-4">
                <div class="card mb-4">
                  <img src=`https://raw.githubusercontent.com/bangranggas/webby/main/test/${item.image}.png` class="card-img-top" alt=`{item.name}`>
                  <div class="card-body">
                    <h5 class="card-title">{item.name}</h5>
                    <p class="card-text">{item.description}</p>
                    <a href=`${item.link}` target="_blank" class="btn btn-primary">Visit Now</a>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
    </div>
</Layout>